.ini-gambar {
  height: 600px;
  object-fit: cover;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .ini-gambar {
    height: 450px;
    object-fit: fill;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .ini-gambar {
    height: 300px;
    width: 400px;
  }
}
