.judulAtas {
  color: white;
}
.pembungkusCard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.cardItem {
  /* width: 13rem; */
  border: #1a1a1a;
  background-color: #1a1a1a !important;
}

.cardTitle,
.cardTahun {
  color: white;
  text-align: center;
}
