.judulAtas {
  color: white;
}
/* .pembungkusCard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
} */

.cardItem {
  border: #1a1a1a;
  background-color: #1a1a1a !important;
}

.cardTitle,
.cardTahun {
  color: white;
  text-align: center;
}

.img-poster {
  width: 214px;
  height: 307px;
}

.list-film {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 768px) {
  .list-film {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .list-film {
    grid-template-columns: repeat(1, 1fr);
  }
}
